<div class="row">

    <div class="container-fluid">      

        
        <img class="col-md-12 col-xs-12" src="./assets/banner.png">
    
        
        <h3>Bienvenue, sélectionnez une action à effectuer :</h3> 
        
        <div class="col-md-4">        
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a [routerLink]="['reservation/creneaux']">
                        <div class="row">
                            <div class="col-xs-4">     
                                <i class="fa fa-calendar fa-5x"></i>
                            </div>
                            <br />
                            <div class="col-xs-8">     
                                <h4>Créneaux réservations</h4>
                            </div> 
                        </div>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">        
            <div class="panel panel-success">
                <div class="panel-heading">
                    <a [routerLink]="['reservation/new']">
                        <div class="row">
                            <div class="col-xs-4">     
                                <i class="fa fa-calendar-plus-o fa-5x"></i>
                            </div>
                            <br />
                            <div class="col-xs-8">     
                                <h4>Nouvelle Réservation</h4>
                            </div> 
                        </div>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">        
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a [routerLink]="['reservation/myList']">
                        <div class="row">
                            <div class="col-xs-4">     
                                <i class="fa fa-road fa-5x"></i>
                            </div>
                            <br />
                            <div class="col-xs-8">     
                                <h4>Mes réservations</h4>
                            </div> 
                        </div>
                    </a>
                </div>
            </div>
        </div>
        
        <div *ngIf="isAdmin()" class="col-md-4">        
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <a [routerLink]="['reservation/administration']">
                        <div class="row">
                            <div class="col-xs-4">     
                                <i class="fa fa-key fa-5x"></i>
                            </div>
                            <br />
                            <div class="col-xs-8">     
                                <h4>Administration des Réservations</h4>
                            </div> 
                        </div>
                    </a>
                </div>
            </div>
        </div>
        
        <div *ngIf="isAdmin()" class="col-md-4">        
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <a [routerLink]="['vehicule']">
                        <div class="row">
                            <div class="col-xs-4">     
                                <i class="fa fa-car fa-5x"></i> 
                            </div>
                            <br />
                            <div class="col-xs-8">     
                                <h4>Liste des véhicules</h4>
                            </div> 
                        </div>
                    </a>
                </div>
            </div>
        </div>
         
    </div><!-- /.container-fluid -->
    
</div><!-- /.row -->
