<div>
    <button type="button" class="btn btn-default" 
        (click)="redirect.gotoListVehicule()">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        Retour à la liste
    </button>
</div>

<br />

<div *ngIf="vehicule!==undefined" class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">{{ vehicule.immatriculation }} - {{ vehicule.marque }}</h1>
    </div>
    <div  class="panel-body">
        
        <ul class="list-unstyled">
            <li class="media">
                <img class="col-md-5 col-xs-12"
                    src="./assets/vehicule/photo/{{ vehicule.immatriculation }}.jpg"
                >
                <div class="media-body">
                    <p>
                        <i class="fa fa-home fa-2x"></i>
                        <b>Ville :</b> {{ vehicule.ville }}
                    </p>
                    <p>
                        <i class="fa fa-user-circle-o fa-2x"></i>
                        <b>Interlocuteur(trice) :</b> {{ vehicule.nom_responsable }}
                    </p>
                    <p>
                        <i class="fa fa-tachometer fa-2x"></i>
                        <b>Distance :</b> 
                        {{ vehicule.kilometrage| number:'1.2-2' }} km
                    </p>
                    <p>
                        <i class="fa fa-thermometer-half fa-2x"></i>
                        <b>Climatisation :</b> 
                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                    </p>
                    <p>
                        <i class="fa fa-calendar fa-2x"></i>
                        <b>Date première immatriculation :</b>
                        {{ vehicule.date_premiere_immatriculation | amDateFormat: 'DD/MM/YYYY' }} 
                    </p>
                    <p>
                        <i class="fa fa-calendar fa-2x"></i>
                        <b>Date arrivée B&D :</b>
                        {{ vehicule.date_arrivee_vehicule_bd | amDateFormat: 'DD/MM/YYYY' }} 
                    </p>
                    <p>
                        <i class="fa fa-calendar-check-o fa-2x"></i>
                        <b>Dernière révision :</b>
                        {{ vehicule.derniere_revision }}
                    </p>

                </div>
            </li>
        </ul>
    </div>
</div>