<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" 
                data-toggle="collapse" data-target="#bs-navbar-collapse-1" 
                aria-expanded="false"
        >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand clickable" (click)="redirect.gotoHome()">
            <img [src]="imageLogo" class="img-responsive" style='max-width: 20%'>
        </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse"  id="bs-navbar-collapse-1">
        <ul class="nav navbar-nav" id ="navbar-nav">
            <li id="nav-home">
                <a class="clickable" (click)="redirect.gotoHome()">
                    <i class="fa fa-home" aria-hidden="true"></i> 
                    Home
                </a>
            </li>
            <li id="nav-creneaux">
                <a class="clickable" (click)="redirect.gotoCreneaux()">
                    <i class="fa fa-calendar" aria-hidden="true"></i> 
                    Créneaux réservations
                </a>
            </li>
            <li id="nav-reservation-create">
                <a class="clickable" (click)="redirect.gotoCreateReservation()">
                    <i class="fa fa-calendar-plus-o" aria-hidden="true"></i> 
                    Nouvelle réservation
                </a>
            </li>
            <li id="nav-my-liste-reservation">
                <a class="clickable" (click)="redirect.gotoMyListReservation()">
                    <i class="fa fa-road" aria-hidden="true"></i> 
                    Mes réservations
                </a>
            </li>
            <li *ngIf="isAdmin()" id="nav-reservation-admin" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
                   role="button" aria-haspopup="true" aria-expanded="false"
                >
                    Administration 
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="clickable" (click)="redirect.gotoListVehicule()">
                            <i class="fa fa-car" aria-hidden="true"></i> 
                            Liste véhicules 
                        </a> 
                    </li>
                    <li>
                        <a class="clickable" (click)="redirect.gotoAdministrationReservation()">
                            <i class="fa fa-key" aria-hidden="true"></i> 
                            Réservations
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
        
        <ul class="nav navbar-nav pull-right">

            <li *ngIf="hasAuthTokenValid()">
                <a>{{ prenomUtilisateur }} {{ nomUtilisateur }}</a>
            </li>
            
            <li *ngIf="!hasAuthTokenValid()">
                <a class="clickable" (click)="redirect.gotoLogin()">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i> 
                    <b>Login</b>
                </a>
            </li>
            <li *ngIf="hasAuthTokenValid()">
                <a class="clickable" (click)="logout()">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i> 
                    <b>Logout</b>
                </a>
            </li>
            
        </ul>
        
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="container">
    <flash-messages></flash-messages>
    <router-outlet></router-outlet>
</div>
<br />
	
