
<div>
    <button type="button" class="btn btn-default" 
        (click)="gotoListReservation()">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        Retour à la liste
    </button>
</div>

<br />

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Etape 1 : Vérifiez les disponibilités de votre créneau</h3>
    </div>
    <div class="panel-body">
        <reservation-creneaux>Chargement des créneaux...</reservation-creneaux>
    </div>
</div>

<br />

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Etape 2 : Remplir le formulaire</h3>
    </div>
    <div class="panel-body">
    
        <form (ngSubmit)="addReservation()" [formGroup]="reservationForm" novalidate>

            <div class="form-group col-md-6">
                <label for="dateDebut">Date début réservation</label>
                <my-datepicker 
                        formControlName="dateDebut"
                        id="dateDebut" 
                >
                </my-datepicker>
            </div>        


            <div class="form-group col-md-6">
                <label for="dateFin">Date fin réservation</label>
                <my-datepicker
                        formControlName="dateFin"
                        id="dateFin" 
                >
                </my-datepicker>
            </div>        
            
            <div class="form-group col-md-4">
                <label for="vehicule">Véhicule</label>
                <select 
                    required
                    class="form-control"
                    formControlName="vehicule"
                >
                    <option *ngFor="let vehicule of listVehicule"  
                        [ngValue]="vehicule"
                    >
                        {{vehicule.immatriculation}} - {{vehicule.marque}} 
                    </option>
                </select>
            </div>

            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-success" 
                    [disabled]="!reservationForm.valid">
                    Valider
                </button>
                <!--<button type="button" class="btn btn-default" 
                      (click)=" reservationForm.reset()">
                      Reset
                </button>-->
            </div>
            
        </form>        
        
    </div>
</div>


<br />
