<button type="button" class="btn btn-success" 
    (click)="gotoCreate()">
    <i class="fa fa-plus" aria-hidden="true"></i>
    Effectuer une réservation 
</button>

<reservation-creneaux>Chargement des créneaux...</reservation-creneaux>

<div class="col-xs-12 col-md-12">
    
    <table class="table" *ngIf="listCreneauxByAnneeMois" id="tableReservation">
        <thead>
            <tr>
                <th>Vehicule</th>
                <th *ngFor="let jour of listJours">{{jour}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let creneauxByAnneeMois of listCreneauxByAnneeMois">
                <td *ngFor="let elem of creneauxByAnneeMois" 
                    [style.background]="color(elem)"
                    
                >{{elem == 0 || elem == 1 ? '' : elem}}</td >
            </tr>
        </tbody>
    </table>

</div>


<div class="col-xs-12 col-md-12">
    <h3>Liste complète des réservations</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Date Début résa</th>
                <th>Date Fin résa</th>
                <th>Marque Vehicule</th>
                <th>Immatriculation Vehicule</th>
            </tr>
        </thead>
        <tbody>
            
            <tr *ngFor="let reservation of listReservation">
                <td>{{ reservation.nom }}</td>
                <td>{{ reservation.prenom }}</td>
                <td>{{ reservation.date_debut | amDateFormat: 'YYYY-MM-DD' }}</td>
                <td>{{ reservation.date_fin | amDateFormat: 'YYYY-MM-DD' }}</td>
                <td>{{ reservation.vehicule.marque }}</td>
                <td>{{ reservation.vehicule.immatriculation }}</td>
            </tr>
            
        </tbody>
    </table>

</div>

