
<div>
    <button type="button" class="btn btn-default" 
        (click)="gotoListReservation()">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        Retour à la liste
    </button>
</div>

<br />

<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">Etape 1 : Vérifiez les disponibilités de votre créneau</h3>
    </div>
    <div class="panel-body">
        <reservation-creneaux>Chargement des créneaux...</reservation-creneaux>
    </div>
</div>

<br />

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Etape 2 : Remplir le formulaire</h3>
    </div>
    <div class="panel-body">
    
        <form (ngSubmit)="addReservation()" [formGroup]="reservationForm" novalidate>

            <div class="form-group col-md-6">
                <label for="dateDebut">Date début réservation</label>
                <my-datepicker 
                        formControlName="dateDebut"
                        id="dateDebut" 
                >
                </my-datepicker>
            </div>        


            <div class="form-group col-md-6">
                <label for="dateFin">Date fin réservation</label>
                <my-datepicker
                        formControlName="dateFin"
                        id="dateFin" 
                >
                </my-datepicker>
                
            </div>        
            
            <div *ngIf="vehiculeDispo!==undefined&&vehiculeDispo!==null" class="list-group col-md-6 col-xs-12">
                <h4>Voici le véhicule qui vous sera alloué</h4>
                <a  class="list-group-item">    
                    <ul class="list-unstyled">
                        <li class="media">
                            <img class="col-md-4 col-xs-4"
                                src="./assets/vehicule/photo/{{ vehiculeDispo.immatriculation }}.jpg"
                            >
                            <div class="media-body">
                                <h4 class="mt-0 mb-1">{{ vehiculeDispo.immatriculation }} - {{ vehiculeDispo.marque }}</h4>
                                <p>
                                    <i class="fa fa-home"></i>
                                    <b>Ville :</b> {{ vehiculeDispo.ville }}</p>
                                <p>
                                    <i class="fa fa-user-circle-o"></i>
                                    <b>Interlocuteur(trice) :</b> {{ vehiculeDispo.nom_responsable }}
                                </p>
                                <p>
                                    <i class="fa fa-tachometer"></i>
                                    <b>Distance :</b> {{ vehiculeDispo.kilometrage| number:'1.2-2' }} km
                                </p>
                            </div>
                        </li>
                    </ul>
                </a>
            </div>             
            <div *ngIf="vehiculeDispo==null&&vehiculeDispo!==undefined" class="list-group col-md-6 col-xs-12">
                <a  class="list-group-item"> 
                    <h4>Aucun véhicule disponible pour ce créneau</h4>
                </a>
            </div>  
            <div class="form-group col-md-12" >
                <button type="submit" class="btn btn-success" 
                    [disabled]="!reservationForm.valid">
                    Valider
                </button>
            </div>
            
        </form>        
        
    </div>
</div>




<br />
