
<div class="col-md-12">
    <button type="button" class="btn btn-default" 
        (click)="gotoListReservation()">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        Retour à la liste
    </button>
</div>

<!--<calendar-heatmap
  [data]="data"
  [color]="color"
  [overview]="overview">
</calendar-heatmap>-->
    
<div class="col-md-6">
    <h1>Nouvelle Réservation</h1>

    <form (ngSubmit)="addReservation()" #reservationForm="ngForm">


        <div class="form-group col-md-6">
            <label for="dateDebut">Date début réservation</label>
            <my-datepicker #dateDebut 
                    name="dateDebut" id="dateDebut" 
                    [myNgClass]="'form-control'"
                    [required]="true"
                    [ngModel]="reservation.date_debut | date:'yyyy-MM-dd'" 
                    (ngModelChange)="reservation.date_debut = dateDebut.value"
            >
                    
            </my-datepicker>
        </div>        

        
        <div class="form-group col-md-6">
            <label for="dateFin">Date fin réservation</label>
            <my-datepicker #dateFin
                    name="dateFin" id="dateFin"
                    [myNgClass]="'form-control'"
                    [required]="true"
                    [ngModel]="reservation.date_fin | date:'yyyy-MM-dd'" 
                    (ngModelChange)="reservation.date_fin = dateFin.value">
            </my-datepicker>            
        </div>   
        
        
        <div class="form-group col-md-12">
            <label for="vehicule">Véhicule</label>
            <select 
                required
                [ngModel]="reservation.vehicule" 
                name= 'vehicule' 
                (ngModelChange)="reservation.vehicule= $event"
            >
                <option *ngFor="let vehicule of listVehicule"  
                    [ngValue]="vehicule"
                >
                    {{vehicule.immatriculation}} - {{vehicule.marque}} 
                </option>
            </select>
        </div>

        <div class="form-group col-md-12">
            <label for="nom">Votre nom</label>
            <input type="text" class="form-control" id="nom" 
                required
                [(ngModel)]="reservation.nom" name="nom"
                #nom="ngModel"
            >
            <div [hidden]="nom.valid || nom.pristine"
                class="alert alert-danger">
                Le nom est obligatoire
            </div>
        </div>

        <div class="form-group col-md-12">
            <label for="prenom">Votre prénom</label>
            <input type="text" class="form-control" id="prenom" 
                required
                [(ngModel)]="reservation.prenom" name="prenom"
                #prenom="ngModel"
            >
            <div [hidden]="prenom.valid || prenom.pristine"
                class="alert alert-danger">
                Le prénom est obligatoire
            </div>
        </div>

        <div class="col-md-12">
            <button type="submit" class="btn btn-success" 
                [disabled]="!reservationForm.form.valid">
                Valider
            </button>
            <button type="button" class="btn btn-default" 
                  (click)=" reservationForm.reset()">
                  Reset
            </button>
        </div>
    </form>
</div>
