
<button type="button" class="btn btn-success" 
    (click)="gotoCreate()">
    <i class="fa fa-plus" aria-hidden="true"></i>
    Effectuer une réservation 
</button>



<div  class="col-xs-12 col-md-12">
    <h3>Liste complète des réservations de {{ prenomUtilisateur }} {{ nomUtilisateur }}</h3>
    <table *ngIf="listReservation?.length > 0" class="table">
        <thead>
            <tr>
                <th>Date Début résa</th>
                <th>Date Fin résa</th>
                <th>Marque Vehicule</th>
                <th>Immatriculation Vehicule</th>
                <th>Statut</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            
            <tr *ngFor="let reservation of listReservation">
                <td>{{ reservation.date_debut | amDateFormat: 'YYYY-MM-DD' }}</td>
                <td>{{ reservation.date_fin | amDateFormat: 'YYYY-MM-DD' }}</td>
                <td>{{ reservation.vehicule.marque }}</td>
                <td>{{ reservation.vehicule.immatriculation }}</td>
                <td>{{ reservation.statut }}</td>
                <th>
                    <button type="button" class="btn btn-danger" 
                        (click)="cancelReservation(reservation)">
                        Annuler demande
                    </button>
                </th>
            </tr>
            
        </tbody>
    </table>

    <div *ngIf="listReservation?.length == 0" class="col-xs-12 col-md-12">
        <h4>Vous n'avez aucune réservation pour le moment.</h4>
    </div>
    
</div>


