 
<div>
    <h3>
        Liste complète des réservations
    </h3>      
    <ngx-datatable
        #myTable
        class="material"
        [rows]="listReservations"
        [loadingIndicator]="loadingIndicator"
        [scrollbarH]="true"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [limit]="10"
        [rowHeight]="'auto'"
        [reorderable]="'true'"
        [rowClass]="getRowClass"
    >
    
        <ngx-datatable-row-detail [rowHeight]="50" #myDetailRow >
              
            <ng-template let-row="row" let-expanded="expanded" class="col-md-12 col-xs-12" ngx-datatable-row-detail-template>

                <div style="padding-left:35px;">
                </div>

            </ng-template>

        </ngx-datatable-row-detail>
   

        <ngx-datatable-column name="Date création" [sortable]="false" >
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                {{ row.date_creation | amDateFormat: 'YYYY/MM/DD HH'}}h
            </ng-template>
        </ngx-datatable-column>
        
        <ngx-datatable-column name="Attribué à" [sortable]="false" >
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                {{row.nom}} {{row.prenom}}
            </ng-template>
        </ngx-datatable-column>        

        <ngx-datatable-column name="Date début résa" [sortable]="false" >
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                {{ row.date_debut | amDateFormat: 'YYYY/MM/DD'}}
            </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column name="Date fin résa" [sortable]="false" >
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                {{ row.date_fin | amDateFormat: 'YYYY/MM/DD'}}
            </ng-template>
        </ngx-datatable-column>        


        <ngx-datatable-column name="Vehicule" [comparator]="this.vehiculeSorter.bind(this)" >
            <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template>
                {{row.vehicule.immatriculation}} - {{row.vehicule.marque}}
            </ng-template>
        </ngx-datatable-column>


        <ngx-datatable-column name="Statut" prop="statut"></ngx-datatable-column>


        <ngx-datatable-column name="Action">
            <ng-template ngx-datatable-cell-template 
                let-row="row" let-rowIndex="rowIndex" let-group="group"
            >

                <button *ngIf="row.statut == 'En cours d\'administration'" 
                    type="button" class="btn btn-success" 
                    (click)="putStatutReservation(row,'Confirmée','Validation de réservation envoyée.')">
                    Confirmer
                </button>
                <button *ngIf="row.statut != 'Annulée'" 
                    type="button" class="btn btn-danger" 
                    (click)="putStatutReservation(row,'Annulée','Annulation de réservation envoyée.')">
                    Annuler
                </button>

            </ng-template>                    
        </ngx-datatable-column>

    </ngx-datatable>
</div>