/*  Style pour les formulaires */
.ng-valid[required]
, .ng-valid.required  {
    border-left: 5px solid lightgreen; /* green */
}
.ng-invalid:not(form):not(my-datepicker)  {
    border-left: 5px solid salmon; /* red */
}

my-datepicker > input {
    background-color: white !important;
}

chart {
  display: block;
}

table#tableReservation > tbody > tr > td
,table#tableReservation > tbody > tr > th
,table#tableReservation > tfoot > tr > td
,table#tableReservation > tfoot > tr > th
,table#tableReservation > thead > tr > td
,table#tableReservation > thead > tr > th {
    border-right: 1px solid #ddd;
    padding:1px;
    text-align: center;
}
