/*  Style pour les formulaires */
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid lightgreen; /* green */
}
.ng-invalid:not(form)  {
    border-left: 5px solid salmon; /* red */
}

chart {
  display: block;
}
