<h1>Loggin</h1>
<h3>Merci de vous authentifier</h3>
<h4>Saisissez vos identifiants Kayoo :</h4>
<div class="form-group col-md-5">
    
    <div [hidden]="!error" class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-excalamation-ign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{ error }}
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="xxxx.xxxx@businessdecision.com" formControlName="username">
            </div>

            <div class="form-group">
                <input type="password" class="form-control" placeholder="Mot de passe Kayoo" formControlName="password" required>
            </div>

            <button type="submit" class="btn btn-success pull-right" [disabled]="!loginForm.valid">Submit</button>

    </form>
    
</div>